# Copy this file to .env in the same directory as the docker-compose file / taskfile and update the values as needed.

# Set the data directory (if not set, defaults to: <repository_root>/data)
# DATA_ROOT=/absolute/path/to/data/directory 